{{ partial "head.html" . }}
{{ partial "header.html" . }}

    <div class="container __list">  <!-- fake __list class for debugging -->
        <div class="row">
            <div class="sixteen columns">
                {{ if .Content }}
                <section>
                    {{ .Content }}
                </section>
                {{ else }}
                <ul class="li-article-list">
                    {{ range where .Pages "Section" "post" }}
                        <li>
                            <time class="li-article-date">{{ .Date.Format "January 2, 2006" }}</time>
                            <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                        </li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
        </div>
    </div>

{{ partial "footer.html" . }}
{{ partial "tail.html" . }}
